<div class="pageContainer">
      
    <div class="title">
      Hello! Welcome to our little guide
      <div class="line"></div>
    </div>
    <div class="container">
      <div class="card tabs">
        <input id="tab-1" type="radio" class="tab tab-selector" checked="checked" name="tab" />
        <label for="tab-1" class="tab tab-primary">What can I do?</label>
        <input id="tab-2" type="radio" class="tab tab-selector" name="tab" />
        <label for="tab-2" >How do the Tasks work?</label>
        <input id="tab-3" type="radio" class="tab tab-selector" name="tab" />
        <label for="tab-3" >What are those lists?</label>
        <input id="tab-4" type="radio" class="tab tab-selector" name="tab" />
        <label for="tab-4">Can I export them?</label>
        
        <section class="content">
          <div class="item" id="content-1">
            <p>This section is dedicated for your free time and hobbies. Here you can manage personal tasks and keep track of your passions like video games, books or even movies!</p>
            
          </div>
          <div class="item" id="content-2">
            <h2>Where?</h2>
            <p>All your tasks are organized in multiple columns which make a single board! You can create as many of them as you wish. You can also use the labels to
                give your tasks more color and more intel about their importance. 
            </p>

          </div>
          <div class="item" id="content-3">
            <p>Those lists are meant for you to track your progress! Here you can separate each entry by its status. For example Reading/Read/Plan To Read/Dropped for books.
                The other lists follow a similar structure. You can also <span>sort</span> them based on their Rating by clicking on the <span>Rating label</span>!</p>
            
          </div>
          <div class="item" id="content-4">
            <p>Yes! You can export each of your lists in a <span>PDF</span> file! This way you can make sure you save your progress and share it with your friends!</p>
          </div>
        </section>
  
      </div>
    </div>
  </div>