.card {
    width: 220px;
    border: 1px solid #ccc;
  
    border-radius: 8px;
    overflow: hidden;
    color: var(--text-color);
    background-color: var(--section-color);
    margin: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;

  }
  .card:hover{
    transform: scale(1.05);
    cursor: pointer;
  }
  
  
  .card img {
    width: 100%;
    height: auto;
    color: var(--primary-color);
    border-bottom: 1px solid #ccc;
  }
  .card a {
    color: white; 
    text-decoration: none; 
  }
  
  
  .card h2 {
    padding: 9px 0;
  }

  
 
  