.income-summary {
    
    width: 300px;
    /*background-color: #FFEEDD;*/
    background-color: var(--income-color);
    /*background-color: black;
    color: #f8f7ff;*/
    border-radius: 8px;
}
  
.expenses-summary {
    
    width: 300px;
    /*background-color: #FFEEDD;*/
    background-color: var(--expense-color);
    /*background-color: black;
    color: #f8f7ff;*/
    margin-right: 10px;
    border-radius: 8px;
}

.balance-summary {
    
  width: 300px;
  /*background-color: #FFEEDD;*/
  background-color: #cdcdcd;
  /*background-color: black;
  color: #f8f7ff;*/
  margin-left: 10px;
  border-radius: 8px;
}

h1:first-child {
    position: relative;
  }

  h1:first-child::after {
    content: '';
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 0;
  height: 1px; 
  background-color: black; 
  }
