mat-dialog-content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.dialog{
   background-color: var(--accent-color);
   color: var(--text-color);

}

.dialogTitle{
   text-align: center;
   color: var(--text-color);
}

img{
    width: 100%;
 }

 h3{
    color: var(--text-color);
 }

 span{
    color:var(--text-color);
 }

h2{
    text-align: center;
    color: var(--text-color);
 }