<div class="pageContainer">
      
    <div class="title">
      Hello! Welcome to our little guide
      <div class="line"></div>
    </div>
    <div class="container">
      <div class="card tabs">
        <input id="tab-1" type="radio" class="tab tab-selector" checked="checked" name="tab" />
        <label for="tab-1" class="tab tab-primary">What can I do?</label>
        <input id="tab-2" type="radio" class="tab tab-selector" name="tab" />
        <label for="tab-2" >How do I import the schedule?</label>
        <input id="tab-3" type="radio" class="tab tab-selector" name="tab" />
        <label for="tab-3" >How do projects work?</label>
        <input id="tab-4" type="radio" class="tab tab-selector" name="tab" />
        <label for="tab-4">What do tasks works?</label>
        
        <section class="content">
          <div class="item" id="content-1">
            <p>This section is dedicated for your academic tracking. In the <span>Home section</span> you can see what classes you have left for the day/week alongside their tasks. On the <span>Schedule section</span>
                you can see all your classes and the days of the week where they are assigned. Here you can manage them and also <span>import a new schedule</span>    
            </p>
            
          </div>
          <div class="item" id="content-2">
            <h2>Where?</h2>
            <p>Its quite easy! By clicking the <span>Import Schedule Button</span> and by entering your group name, the id of the google sheet and by selecting your school year</p>

            <h2>How do I get the id?</h2>

            <p>https://docs.google.com/spreadsheets/d/<span>spreadsheetId</span>/edit#gid=0
            </p>

            <h2>Why am I getting error messages?</h2>
            <p>If you encounter the message <span>Duplicate classes</span> it means you have to clear the schedule first. You can easily do this by using the <span>Clear Schedule Button</span>.
            If you're enountering some other type of error it means that either the id you provided is not valid or the group doesn't exist.
            </p>

          </div>
          <div class="item" id="content-3">
            <p>You can create projects for all the laboratories or seminars. In the <span>Projects section</span> you can create those said projects where you
                see their percentage of completion. This percentage is calculated using the finished parent tasks from the <span>Tasks section</span>
            </p>
          </div>
          <div class="item" id="content-4">
            <p>Once you have a project created, here you can create and manage it's tasks. <span>By clicking on a task</span> it will expand itself and show its <span>current subtasks</span>
             and give you more details by showing the <span>Description field</span>. By <span>hovering the task body</span> the possible actions will show: adding a child task, modifying the tasks or deleting it 
            </p>
          </div>
        </section>
  
      </div>
    </div>
  </div>