
  app-section{
    margin-left: 140px;
    margin-right: 100px;
    text-align: center;
    
  }

  section h1{
    padding-top: 100px;
    text-align: center;
  }
  
  input[type="text"] {
    border: solid 1px var(--primary-color);
    padding: 10px;
    border-radius: 8px;
    margin-right: 4px;
    display: inline-block;
    width: 30%;
  }
  
  button {
    padding: 10px;
    border: solid 1px var(--primary-color);
    background: var(--primary-color);
    color: white;
    border-radius: 8px;
  }
  .card-container{
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap; 
    text-align: center;
    
  }
 
