.pageContainer{
    width: 100vw;
    height: calc(100vh - 70px);
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    
    text-align: center;
  }

.card{
    background-color: #FFEEDD;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 2cm;
    margin-right: 20px;
    margin-left: 20px;
    width: auto;
    float: left;
    
  }

  .gamesContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Adjust the minmax values as needed */
    grid-gap: 20px; /* Adjust the gap between cards */
}

.card:hover {
    /*-webkit-transform: scale(1.14);*/
    transform: scale(1.14);
    cursor: pointer;
  }

img{
  width: 200px;
  height: 100px;
}