.contentContainer{
    width: 100vw;
    height: calc(100vh - 70px);
    
    display: flex;
    flex-direction: column;
}

.containerUp{
  margin-bottom: 30px;
  justify-content: center;
  display: flex;
  flex : 1/2;
}

.containerUp button 
{
    height: 50px;
    padding-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    width: 200px;
}

.containerUp button:hover{
  cursor: pointer;
  transform: scale(1.05);
}

.containerUp  button span{
  display: inline-block;
  padding-top: 9px;
  padding-right: 30px;
}

.containerUp  button img{
  float: left;
  width: 30px; 
  height: auto;
}

.scheduleContainer{
  flex:1;
  
  margin-left: 35px;
  margin-right: 35px;
}


.schedule-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 1em;
  }
  
  .day-column {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 1em;
    border-radius: 5px;
  }
  
  .day-column h3 {
    margin-top: 0;
    text-align: center;
  }
  
  .class-item {
    background-color: #e9e9e9;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 5px;
  }
  
  .class-item h4 {
    margin: 0;
  }
  
  .class-item p {
    margin: 0.5em 0;
  }

  .class-item:hover{
    cursor: pointer;
    transform: scale(1.05);
  }

  .classImg{
    width: 20px;
    height: 20px;
    margin-left: 5px;
    float: right;

  }
  .classImg:hover{
    cursor: pointer;
    transform: scale(1.25);
  }
  
  .classButton{
    display: none;
    position: absolute;
    
    
    
  }
  
  .class-item:hover .classButton{
    display:contents;
    
  }