.entry-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  table {
    border-collapse: separate;
    border-spacing: 0 20px;
    width: 100%; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
  
  }
    
  .expense-entry {
    background-color: var(--expense-color); 
    border-radius: 5px; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    
  }
  
  .income-entry {
    background-color: var(--income-color); 
    border-radius: 5px; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    
  }
  
  
  td{
  
    text-align: center;
    border-bottom: 1px solid #ccc; 
    border-top: 1px solid #ccc;
    min-width: 70px;
    height: 50px;
    
   
    
  }

  th{
    text-align: center;
  }
  
  tr td:first-child{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; 
  }
  tr td:last-child{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; 
  }
  
  .separator {
    border-left: 2px solid rgb(87, 84, 84);
    height: 100%; 
    margin: 0 20px; 
    min-height: 30px; 
  
  }
  
  h1{
    text-align: center;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  
  }
  img{
    width: 50px;
    margin-left: 3px;
  }
  
  
  .buttonContainer{
    display: flex;
    flex-direction: row;
  }
  
  
  button{
    width: 70px;
    height: 20px;
    border-radius: 8px;
    margin-right: 20px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  
  }
  button:hover{
    cursor: pointer;
    background-color: #ccc;
  }
  