img{
    width: 50px;
    height: 50px;
  }

.pictogramContainer {
    display: flex;
    flex-wrap: wrap;
    max-height: 80vh;
    
    overflow-y: auto;
    color:var(--text-color);

    
}

.dialog{
    background-color: var(--accent-color);
}
.pictogramContainerWrapper{
    display: flex;
    justify-content: center;
    justify-content: flex-start; 
}


.entry {
    flex: 0 0 25%; 
    padding: 10px; 
    box-sizing: border-box; 
    border: 1px solid black; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    
    width: 80px;
    background-color: var(--button-color);
}

.entry:hover{
    background-color: var(--color4);
    cursor: pointer;
    transform: scale(1.05);
}

.categoriesContainer{

    width: auto;
    display: flex; 
    flex-wrap: wrap; 

}


.category-button {
    position: relative;
    padding: 10px 20px; 
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }






