
mat-dialog-content{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);


}

.dialog{
    background-color: var(--accent-color);
    color: var(--text-color);

}

.dialogTitle{
    text-align: center;
    color: var(--text-color);
}


.buttonContainer{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

button{
    width: 100px;
    height: 30px;
    
    border-radius: 8px;

    background-color: var(--button-color);
    color: var(--text-color);


}

.radio-button-container{

    color: var(--text-color);
}

button:hover{

    cursor: pointer;
}

.tab
{
    margin-right: 70px;
}
.pdf-radio
{
    margin-left: 30px;
}

h3{
    text-align: lefts;
}
span{
    margin-left: 5px;
}

form
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}